.card{
    border: none;
    border-radius: 5px;
    color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

.background {
    background-color:  transparent;
    background: linear-gradient(135deg, #fce4ec 50%, white 50%);   
    color: #d81b60;
    border-radius: 8px; 
    overflow: hidden; 
}
