<div class="container-fluid mt-3">
  
  <div class="row">
    <div class="col-12 col-sm-4 col-md-3 mb-2 mt-4">
      <app-header-part></app-header-part>
    </div>
    <div class="col-12 col-sm-8 col-md-9 mb-2 mt-2">
      <app-storage-usage></app-storage-usage>
    </div>
  </div>

  <br>

  <div class="row">
      <div class="col-12 col-sm-8 col-md-6 mb-2 mt-1">
        <div class="card">

          <app-table-comp></app-table-comp>
        </div>  
      </div>
      <div class="col-12 col-sm-8 col-md-6 mb-2 mt-1">
         <div class="card">
          <!-- <app-table-comp></app-table-comp> -->
            <app-containertype></app-containertype>
          </div>
      </div>
  </div>  

  <br>

  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 mb-2 mt-2">
       <div class="card">
          <app-map></app-map>
       </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 mb-2 mt-2">
       <div class="card">
         <h4 class="m-4">Storage Stats per user</h4>
         <app-pie></app-pie>
        </div>
    </div>
  </div>  


</div>


