<div class="card">
  <div class="card-header d-flex  pt-2">
    <div class="icon icon-lg icon-shape  shadow-dark text-center bg-gradient-warning mt-n4 position-absolute">
      <i class="material-icons opacity-10">storage</i>
    </div>
    <div class="ms-0 text-end">
      <h5 class="card-title">Used Space</h5>
      <p class="card-text">{{ usedSpace }} / {{ totalSpace }} GB</p>
    </div>
  </div>
  <hr class="dark horizontal my-0">
  <div class="card-footer p-3">
    <div *ngIf="isWarning()"  role="alert">
      ⚠️ Get More Space...
    </div>
  </div>
</div>
